.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(115, 166, 179);
    box-shadow: 0 1px 16px rgb(115, 166, 179);
  }
  .icon {
    width: auto;
    height: auto;
    padding: 5px;
  }
  
